%buttons{
	@include addAnimation;
	@include border-radius($border-radius);
	@include text-shadow(none);
	font-weight: bold;
	color: #fff;
	border: none;
    line-height: 2;
	font-size: 1em;
    padding: 0.3em 0.6em;
    display: inline-block;
    text-decoration: none;
    text-transform: lowercase;

	&:hover{
		@include addAnimation;
		background: $brand-primary;
		color: #fff;
		border: none;
	}

	&.btn-info{
		
	}

	&.btn-success{

	}

	&.btn-cancel{

	}

	&.btn-warning{

	}

	&.btn-danger{

	}

	&.btn-inverse{

	}

	&.btn-link{

	}

	&:hover{
		background: shade($brand-grayDark, 20%);
	}
}


.btn {
	@include button;	
}

.btn.btn-primary{
	@include button($brand-primary);	
}

.btn.btn-secondary{
	@include button($brand-secondary);
}

.btn.btn-tertiary{
	@include button($brand-tertiary);
}

.btn.btn-dark{
	@include button($brand-grayDark);
}

.btn.btn-light{
	@include button($brand-grayLight);
}






