
// .edit-button { display:none; }

// .signed-in.controls-visible  {
//   .edit-button { display:block; }
// }




// .signed-in {
//   .button-holder.journal-article-button-row .btn.primary {
//     width: 100%;
//     margin: 0 2px;
//   }
// }


// .adt-edit-controls {
//    display:none; 
// }


.signed-in.controls-visible #main-content{
  .portlet-dropzone{
    background: rgba(158, 158, 158, 0.25);
  }

  .portlet-boundary .portlet-body .portlet-body{
    @include box-shadow(0px 0px 0px 3px rgba(58, 52, 50, 0.8) inset);
  }

  &.columns-max{
    .portlet-dropzone{background: none;}
    .portlet-boundary .portlet-body .portlet-body{@include box-shadow(none);}
    .portlet-layout{@include box-shadow(none);}
  }
}



// //Remove styling on dialog views
// .dialog-iframe-root-node{
//   .signed-in.controls-visible {
  
//     .portlet-dropzone{
//       border: none;
//       background: none;
//       padding: 0;
//       @include box-sizing(border-box);
//     }

//     .portlet-layout{
//       padding: 0;
//       background: none;
//       border: none;
//       @include box-sizing(border-box);
//     }

//     .portlet-boundary {
//       background:none;
//       padding: 0;
//       margin: 0;
//       @include box-sizing(border-box);
//     }
//   }
// }

// //Remove styling on content edit pages
// .page-maximized.signed-in.controls-visible {
  
//     .portlet-dropzone{
//       border: none;
//       background: none;
//       padding: 0;
//       @include box-sizing(border-box);
//     }

//     .portlet-layout{
//       padding: 0;
//       background: none;
//       border: none;
//       @include box-sizing(border-box);
//     }

//     .portlet-boundary {
//       background:none;
//       @include box-sizing(border-box);
//     }
// }