$susy: (
  math: static,
  output: float,
  container: auto,
  container-position: center,
  columns: 12,
  column-width: 61px,
  gutters: 36px/61px,
  gutter-position: split,
  debug: (
    // image: show,
    color: rgba(#000, .05),
    output: background,
    toggle: top right
  )
);

.content-region{
  @include container;
}

.portlet-nested-portlets{ 
  @include with-layout(fluid isolate split) { 

    .portlet-layout .portlet-column.portlet-column-first{
      margin-left: 0;
    }

    .portlet-layout .portlet-column.portlet-column-last{
      margin-left: 1.54639 * 2%;
      // margin-left: 4.6%;
      // margin-right: 0;
    }

    .portlet-layout{
      // @include bleed(16px);
      .portlet-column-only{
        @include span(12 of 12);
      }
      
      .aui-w23, .aui-w24, .aui-w25{
        @include span(3 of 12);
      }

      .aui-w33{
        @include span(4 of 12);
      }

      .aui-w50, .aui-w52{
        @include span(6 of 12);
      }

      .aui-w30{
        @include span(4 of 12);
      }

      .aui-w70{
        @include span(8 of 12);
      }

      .aui-w76{
        @include span(9 of 12);
      }
    }
  }
}



