.portlet-breadcrumb {
	.portlet-body .portlet-body{
		padding: 0;
	    margin: 0;
	}

	.breadcrumbs{
		background: none;
		padding: 0.3em 0;
		font-size:  $baseFontSize*0.8;
		text-decoration: none;
		margin: 0;
		padding: 0;
	}
}
