//Main navigation
#navigation{
	background: $navBackground;
    text-align: right;
    position: absolute;
    bottom: -28px;


	.child-menu{
		display: none;
	}	

	a{
		background: $brand-primary;
		text-decoration: none;
		padding: 0.9em 0.8em 0.6em;
		display: inline-block;
		color: #fff;
        min-width: 12%;
	    text-align: center;
	    font-weight: normal;
	}

	$i: 1;
	@each $color in $brand-grayLight, $brand-grayDark, $brand-primary, $brand-secondary, $brand-tertiary, $brand-grayDark, $brand-primary, $brand-secondary, $brand-tertiary, $brand-grayDark, $brand-primary, $brand-secondary, $brand-tertiary {
	    a.theme-#{$i} {
	        background-color:#{$color};
	        border-bottom: 3px solid #{$color};
	       
	        &:hover{
				background-color:#{shade($color, 15%)};
				border-color: #{shade($color, 15%)};
			}
	    }

	    li.selected a.theme-#{$i}{
	    	border-color: #{shade($color, 15%)};
	    }

	    $i: $i + 1;
	}

	ul{
		margin: 0;
		padding: 0;
		padding-right: 1em;
	}

	li{
		margin: 0;
		padding: 0;
		display: inline;
	}
}



