a{
	@extend %defaultLink;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 0.5em;
	font-weight: bold;
}

blockquote{
	background: $grayLighter;
	margin: 1em 0;
	padding: 1em 3em;
	border-left: 5px solid shade($grayLighter, 10%);
}

mark{
	background: $brand-primary;
	color: #fff;
	padding: 0 0.2em;
}

img{
    max-width: 100%;
    height: auto;
}
