.portlet-layout{
	.portlet-column-only{
		@include span(12 of 12);
	}
	
	.aui-w23, .aui-w24, .aui-w25{
		@include span(3 of 12);
	}

	.aui-w33{
		@include span(4 of 12);
	}

	.aui-w50, .aui-w52{
		@include span(6 of 12);
	}

	.aui-w30{
		@include span(4 of 12);
	}

	.aui-w70{
		@include span(8 of 12);
	}

	.aui-w76{
		@include span(9 of 12);
	}
}

.portlet-nested-portlets .portlet-layout{
	// .portlet-column-first{
	// 	@include span(first 4 of 12);
	// }
}


#footer .col{
	@include span(3 of 12);

	&.left{
		@include span(9 of 12);
	}

	&.right{
		@include span(3 of 12);
	}
}
