%buttons{
	@include addAnimation;
	@include border-radius($border-radius);
	@include text-shadow(none);
	font-weight: bold;
	color: #fff;
	border: none;
  line-height: 2;
	font-size: 1em;
  padding: 0.3em 0.6em;
  display: inline-block;
  text-decoration: none;
  text-transform: lowercase;

	&:hover{
		@include addAnimation;
		background: $brand-primary;
		color: #fff;
		border: none;
	}
}
