$susy: (
  math: static,
  output: float,
  container: auto,
  container-position: center,
  columns: 12,
  column-width: 61px,
  gutters: 36px/61px,
  gutter-position: split,
  debug: (
    // image: show,
    color: rgba(#000, .05),
    output: background,
    toggle: top right
  )
);
