.portlet-asset-publisher{
	// @include layout($map);
	.taglib-header{
		border-bottom: none;

		.header-title{
			margin: 0;
		}
	}

	.asset-title{
		margin: 0;
		border: none;
		a{text-decoration: none;}
	}

	.asset-abstract {
		margin-bottom: 3em;
		border-bottom: 1px solid shade($grayLighter, 5%);
		padding-bottom: 2em;
	}

	.asset-content{
		padding: 0;
	}

	.asset-small-image{
		padding-left: 0;
		width: 160px;
		margin-left: 1em;
		overflow: hidden;
	}

	.asset-small-image img{
		display: block;
		width: 100%;
		height: auto;
	}

	.asset-summary h3 a{
		text-decoration: none;
	}

	.asset-more {
		margin: 0.5em 0;
	}

	.asset-more a{
		@include button($brand-primary);	
	}

	.title-list{
		margin: 0;   
	}

	li.title-list{
		border-bottom: 1px solid shade($grayLighter, 5%);
		padding: 0.5em;
		padding-left: 0;
		font-size: 1.2em;
	}
	
	.title-list a{
		float: none;
		text-decoration: none;
	}

	.title-list .icon{
		display: none;
	}

	.title-list .taglib-text{
		font-weight: bold;
		text-decoration: none;
	}
}

// .portlet-asset-publisher .asset-more a{
// 	@extend %buttons;
// 	font-size: 1em;
//     padding: 0.3em 0.6em;
//     display: inline-block;
//     text-decoration: none;
//     text-transform: lowercase;
// }

.portlet-asset-publisher .asset-content{
	padding: 0;
    margin: 0;
}

// .portlet-asset-publisher .portlet-content .taglib-icon .icon{
// 	display: none;
// }

.portlet-asset-publisher .portlet-content .asset-actions .taglib-icon .icon{
	display: block;
}

.portlet-asset-publisher .separator{
	margin: 2em 0;
}

menu{
	background: $grayLighter;
	@include border-radius($border-radius);
}

hr, .separator{
    border-top: 1px solid $grayLighter;
}


//Pagination
.portlet-asset-publisher {
	.search-results{
		display: block;
		margin-bottom: 2em;
	}

	.search-pages{
		float: none;
		width: 100%;
		display: block;
		clear: both;

		.page-links{
			margin-bottom: 1em;

			a{
				@include button;	
			}	
		}

		.delta-selector, 
		.page-selector, 
		.page-links{
			// text-align: center;
			line-height: 1;
		}

		.delta-selector{
			text-align: left;
		}
	
		.page-selector{
			margin: 0;
		}

		.page-links a, 
		.page-links span{
			background-image: none!important;
		}

		a.journal-article-page-number, strong.journal-article-page-number{
			background: $brand-grayLight;
			color: $text-color;
			text-decoration: none;
		    text-align: center;
		    padding: 9px 14px;
		    line-height: 2;
		}

		strong.journal-article-page-number{
			background: $brand-primary;
			color: #fff;
		}

		.page-links a.next:after, .page-links a.previous:before{
			font-size: 0.8em;
		}
		
		.page-links a.next:after{
			@include fontAwesome("\f054");
		}

		.page-links a.previous:before{
			@include fontAwesome("\f053");
		}

		.page-links a.first, 
		.page-links span.first, 
		.page-links a.previous, 
		.page-links span.previous,		
		.page-links a.next, 
		.page-links span.next, 
		.page-links a.last, 
		.page-links span.last{
		    padding: 14px;
			line-height: 0.5;
		}

	}
}

.portlet-asset-publisher .portlet-body .portlet-body {
	overflow: hidden;
}


//Grid layout

.portlet-asset-publisher .grid-item{
	@include with-layout(fluid isolate after) { 
		@include span(3);
		margin-bottom: 0;
	 	border: none;
 	    overflow: hidden;
		min-height: 250px;
		padding-bottom: 0;
	 }

 	&:nth-child(4n+1) {  
 		margin-right: 0;
	}
 	
	.abstract-read-more{
		display: block;
		text-decoration: none;
		line-height: 1.2;
		position: relative;
	}

	.abstract-read-more:hover{
		.overlay{
			bottom: 0;
		}
	}

	.overlay{
		@include addAnimation();
		position: absolute;
		bottom: -500px;
		z-index: 10;
		display: block;
		background: rgba($brand-grayDark, 0.9);
		width: 100%;
		height: 100%;
		color: #fff;
	    padding: 5em 2em;
		text-align: center;
		font-size: 0.9em;
	}

	.image{
    	overflow: hidden;
    	position: relative;
    	z-index: 0;
	}

	.image:after{
		content: "";
		display: block;
		padding-bottom: 100%;
		height: 0;
	}

	.image img{
		position: absolute;
		top: 0;
		padding: 0;
		width: 100%;
		height: auto;
		display: block;
	}

	.asset-title{
		border: none;
		margin: 0;
		padding: 0;
	    // line-height: 2;
		font-size: 0.9em;
		margin-top: 0.5em;
	}

	.asset-small-image{
	    margin-left: 0;
	}

	.job-title{
		font-size: 0.8em;
		font-style: italic;
		line-height: 1.2;
	}
}

.portlet-asset-publisher .document-abstract{
	margin: 2em 0;
    border: none;
    padding: 0;

	.asset-content{
		background: $grayLighter;
		padding: 1em;
		overflow: hidden;
		
	}
	
	.header-title{
		line-height: 0.8;

		span{
			font-size: 0.6em;
		}
	}

	.asset-small-image{
		float: left;
		width: 200px;
		margin-right: 1.5em;
		margin-bottom: 0;
		margin-left: 0;
		// margin-top: -1em;
	}

	.asset-summary h3{
		display: none;
	}


	.asset-content, .asset-content p{
		margin: 0;
	}

	.asset-title{
		margin: 0;
		border: none;
		margin-bottom: 0.5em;
	}

	.asset-more{
	    clear: none;
	}

}

.portlet-asset-publisher .detail-page{
	.title{
		margin-bottom: 0;
	}

	.job{
		display: block;
	    margin-bottom: 2em;
	}

	img{
		margin-right: 1em;
		margin-bottom: 0.5em;
		float: left;
		max-width: 200px;
	}
}