input[type="text"], 
input[type="password"], 
input[type="file"], 
input[type="email"], 
// input[type="submit"], 
// input[type="button"], 
// input[type="reset"], 
select, 
textarea, 
.textarea, 
// button, 
// .aui-field-input-text
{
	background: #fff;
	border: 1px solid $grayLight;
	@include border-radius($border-radius);
    padding: 0em 1em;
    color: $text-color;
    // line-height: 1;
	margin: 0 0.2em;
	height: 40px;
}