.portlet-login{
	.navigation{
		background: none;
		border-top: 2px solid $grayLighter;
		padding: 0;
		margin: 1em 0;

		.taglib-icon-list{
			padding: 0.5em 0;
		}

		a{
			text-decoration: none;
			font-size: 0.8em;

			&:hover .taglib-text {
				text-decoration: none;
			}
		}

		img{display: none;}


	}

	.aui-button-input{
		@include button($brand-primary);	
		font-family: inherit;
		display: block;
		padding: 0.5em 2em;
	}
}