.portlet-navigation{
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a{	
		@include link($text-color, $brand-primary);
		text-decoration: none!important;    
	}

	li a.selected{
		font-weight:bold;
        color: $brand-primary;
        // border-left-color: $grayLighter;
    }

    .layouts .level-2{
    	a{
    		padding-left: 0.5em;
    		@include link(tint($text-color, 50%), $text-color);
    	}
    }
}

.portlet-navigation{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		background: $grayLighter;
		padding: 1em 1.5em;
	}
}