.social-media{
	.icon{
		display: inline-block;
		text-decoration: none;
		text-align: center;
		padding: 4px 0 0px;
		width: 36px;
		height: 36px;
	    margin-right: 0.2em;
    	@include border-radius($border-radius);
	}

	.icon:before{
		font-family: FontAwesome;
		color: #fff;
		font-size: 1.5em;
	}

	
	.icon.youtube{
		background: #e32c26;

		&:hover{
			background: shade(#e32c26, 20%);
		}
	}
	.icon.twitter{
		background: #00b0ed;

		&:hover{
			background: shade(#00b0ed, 20%);
		}
	}
	.icon.facebook{
		background: #3B5998;

		&:hover{
			background: shade(#3B5998, 20%);
		}
	}

	.icon.youtube:before{
		content: '\f16a';
	}

	.icon.twitter:before{
		content: '\f099';
	}

	.icon.facebook:before{
		content: '\f09a';
	}
}