// .timeline-gppac-portlet {
// 	background: $grayLighter;
	
// 	.timestamp{
// 		display: none;
// 	}
	
// 	.year-marker{
// 		background: #fff;
// 		padding: 5px 30px;
// 	    font-weight: bold;
// 	    margin: 1em 0;
// 	    margin-left: -30px;
// 	}
	
// 	.post{
	
// 	}
// }


#timeline {
    width: 100%;
    margin-bottom: 30px
}
#timeline .post {
    width: 300px;
    margin: 0 0 10px 0;
    float: left;
}
#timeline .post.last {
    margin-bottom: 0
}
#timeline .post .inner {
    position: relative;
    // width: 383px;
    padding: 1em;	
    background-color: $brand-secondary;
    min-height: 37px;
    word-wrap: break-word;
}
#timeline .post.right {
    float: right
}
#timeline .item .timestamp {
    display: none
}
#timeline .post h3 {
    margin: 0;
    // font-family: Georgia, serif;
    // font-size: 16px;
    font-weight: bold;
 	color: $text-color;
    // padding-right: 30px;
    line-height: 1.3;
    // font-family: 'MuseoSlab-700';
    // font-size: 20px;
}
#timeline .post .caption {
    color: #fff;
    // font-family: Georgia, sans-serif;
    // font-size: 12px;
    margin-top: 4px
}
#timeline .post .body {
    margin-top: 10px
}
#timeline .post .body img {
    max-width: 247px
}
#timeline .post .text {
     color: $text-color;
    // font-family: Georgia, sans-serif;
    // font-size: 14px;
    margin: 10px 0;
    line-height: 1.5
}
#timeline .post a.open-close {
    background: transparent url(../img/button-up-down-arrow.png) no-repeat;
    height: 17px;
    width: 16px;
    position: absolute;
    right: 11px;
    top: 11px
}
#timeline .post.closed a.open-close {
    background-position: left bottom
}
#timeline .post.closed .title {
    display: table;
    min-height: 40px
}
#timeline .post.closed .title h3 {
    display: table-cell;
    vertical-align: middle;
    // font-family: 'MuseoSlab-700';
    // font-size: 20px;
    font-weight: normal
}
#timeline .post a.more {
	@extend %buttons;
	@include button($brand-grayDark);
}
#timeline .post a.share-trigger {
    text-decoration: none;
    // font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 28px;
    height: 28px;
    border: 1px #87b2d3 solid;
    background: #d6e5f0 url(../img/icon-share.png) no-repeat center center;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 #87b2d3;
    -moz-box-shadow: 0 1px 1px 0 #87b2d3;
    box-shadow: 0 1px 1px 0 #87b2d3
}
#timeline .post a.share-trigger.over,
#timeline .post a.share-trigger:hover {
    background-color: #FFF
}
#timeline .post .share {
    position: relative;
    float: right;
    width: 30px;
    height: 30px
}
#timeline .post .share-popup {
    display: none;
    background: transparent url(../img/popup.png) no-repeat;
    width: 166px;
    height: 50px;
    position: absolute;
    top: -61px;
    left: -126px;
    text-align: center;
    padding-top: 15px
}
#timeline .post .share-popup .twitter-share-button {
    position: absolute;
    left: 20px;
    top: 15px
}
#timeline .post .share-popup .facebook-share-button {
    position: absolute;
    right: 20px;
    top: 12px
}
.lt-ie9 #timeline .post .share-popup .facebook-share-button {
    top: 11px
}
.lt-ie8 #timeline .post .share-popup .facebook-share-button {
    top: 16px
}
#timeline .post .date {
    width: 15px;
    height: 15px;
    background: url(../images/timeline/datecircle.png) no-repeat 0 0 transparent;
    position: absolute;
    top: 19px
}
#timeline .post.left .date {
    right: -35px
}
#timeline .post.left .date .arrow {
    background: url(../images/timeline/arrowpostleft.png) no-repeat 0 0 transparent;
    width: 14px;
    height: 17px;
    margin-left: -20px
}
#timeline .post.right .date {
    left: -36px
}
#timeline .post.right .date .arrow {
    background: url(../images/timeline/arrowpostright.png) no-repeat 0 0 transparent;
    width: 14px;
    height: 17px;
    margin-left: 22px
}
#timeline .year-marker {
    float: left;
    width: 80px;
    margin: 50px 0 15px 0;
}
#timeline .year-marker.top {
    margin-top: 0
}
#timeline .year-marker .inner {
    width: 76px;
    height: 26px;
    padding: 2px;
}
#timeline .year-marker .inner2 {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid $brand-grayLight;
}
#timeline .year {
    text-align: center;
    color: #363636;
    // font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px
}
#buttons {
    text-align: center;
    margin: 30px 0 15px 0;
    height: 30px
}
#buttons div {
    display: inline;
    padding: 0 10px
}
#buttons a {
    width: 126px;
    height: 28px;
    border: 1px #adadad solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    // font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 12px;
    background-color: #FFF;
    color: #3b3b3b
}
#buttons a.active:hover,
#buttons a.active {
    background-color: #f6f6f6;
    color: #a9a9a9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default
}
#buttons a:hover {
    -webkit-box-shadow: 0 1px 1px 0 #adadad;
    -moz-box-shadow: 0 1px 1px 0 #adadad;
    box-shadow: 0 1px 1px 0 #adadad
}
#buttons a span {
    padding-right: 15px;
    background-position: right -20px
}
#buttons a.active span {
    background-position: right 4px
}
#buttons a.expand-all span,
#buttons a.sort-newest span {
    background-image: url(../img/up-arrows.png);
    background-repeat: no-repeat
}
#buttons a.collapse-all span,
#buttons a.sort-oldest span {
    background-image: url(../img/down-arrows.png);
    background-repeat: no-repeat
}
#line-container {
    width: 4px;
    text-align: center;
    margin: 0 auto;
    display: block
}
.isotope #line {
    margin: 0 auto;
    background-color: $brand-grayLight;
    display: block;
    float: left;
    height: 100%;
    left: 298px;
    width: 1px
}
.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s
}