.portlet-topper-toolbar{
	// margin: 0;
 //    padding: 0.2em 0.5em;
 //    position: static;
 //    right: 0;
 //    text-align: right;
 //    top: 0;
    span{
    	display: inline-block;
    }
}

//Generic Portlets
.portlet-dropzone{
	padding: 0;
}

.portlet-dropzone .portlet-boundary > .portlet-body {
	margin: 3.5em 0;
}

.portlet-dropzone .portlet-nested-portlets .portlet-boundary > .portlet-body{
	margin: 0;
}


.portlet-content, .portlet-minimized .portlet-content-container{
	padding: 0;
}

.portlet-title{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.6em;
}
