.twitter-portlet{
	.twitter{
		// border-bottom: 1px solid shade($grayLighter, 5%);
	    margin-bottom: 1.5em;
	}

	.tweet-action{
		margin-right: 0.6em;

		&:before{
			margin-right: 0.3em;
		}
	}

	.tweet-reply-retweet-favorite a{
		text-decoration: none;
	}

	.tweet-action.reply:before{
		@include fontAwesome('\f112');
	}

	.tweet-action.retweet:before{
		@include fontAwesome('\f079');
	}

	.tweet-action.favorite:before{
		@include fontAwesome('\f004');
	}
}
