.basic-content{
	min-height: 450px;
	overflow: hidden;

	.image-container img{
		width: 100%;
		height: auto;
		margin: 0;
		display: inline;
	}

	.image-container{
		height: 200px;
	    overflow: hidden;
	    margin-bottom: 1em;
	    text-align: center;
	}

	.date{
		font-size: 0.9em;
		text-align: right;
		display: block;
		font-style: italic;
	}
}