.portlet-breadcrumb {
	.portlet-body .portlet-body{
		padding: 0;
	    margin: 0;
	}

	.breadcrumbs{
		background: none;
		padding: 0.3em 0;
		font-size:  $baseFontSize*0.8;
		text-decoration: none;
		margin: 0;
		padding: 0;

		
		a{
			@extend %defaultLink;
			text-decoration: none;
			text-transform: lowercase;

			&:after{
				@include fontAwesome("\f054");
				margin: 0 0.8em;
				font-size: 0.7em;
			}
		}
		
		li.last a{
			color: $text-color;
		}

		li.last a:after{
			display: none;
		}
	}
}