.newsletter{
	input[type="text"], 
	input[type="password"], 
	input[type="file"], 
	input[type="email"], 
	// input[type="submit"], 
	// input[type="button"], 
	// input[type="reset"], 
	select, 
	textarea, 
	.textarea, 
	// button, 
	// .aui-field-input-text
	{
		margin: 0.3em 0;
		width: 100%;
		display: block;
		border: none;
	}

	input[type='submit'].btn{
		@include button($brand-secondary);
	    width: 100%;
	    font-family: inherit;
        margin-top: 0.5em;
	}
}