.portlet-topper-toolbar{
	// margin: 0;
 //    padding: 0.2em 0.5em;
 //    position: static;
 //    right: 0;
 //    text-align: right;
 //    top: 0;
    span{
    	display: inline-block;
    }
}

//Generic Portlets
.portlet-dropzone{
	padding: 0;
}

.portlet-dropzone .portlet-boundary > .portlet-body {
	margin: 3.5em 0;
}

.portlet-dropzone .portlet-nested-portlets .portlet-boundary > .portlet-body{
	margin: 0;
}


// .portlet-nested-portlets .portlet-body {
// 	padding: 0!important;
// 	// margin: 0!important;
// }

.portlet-content, .portlet-minimized .portlet-content-container{
	padding: 0;
}

.portlet-title{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.6em;
}

// .portlet-borderless .portlet-borderless-container{
//  	padding-top: 5.6em;
// }

// .portlet-nested-portlets .portlet-borderless .portlet-borderless-container{
// 	padding-top: 0em;
// }



///////SKINS///////
.portlet-boundary.border,
.portlet-boundary.dark,
.portlet-boundary.light,
.portlet-boundary.blue,
.portlet-boundary.yellow,
.portlet-boundary.green{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		padding: 1.5em;
	}
}


//Generic Portlets Border
.portlet-boundary.border{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		border: 5px solid $grayLighter;
	}
}

//Generic Portlets Black
.portlet-boundary.dark{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		background: $brand-grayDark;
		color: #fff;
	}

	a{
		@extend %darkLink;
	}

	.btn, .asset-more a{
		@include button($brand-secondary);
	}

	blockquote{
		background: #fff;
		color: $text-color;
		border-left: 5px solid shade(#fff, 10%);
	}

	mark{
		background: $brand-secondary;
	}

}

//Generic Portlets Light 
.portlet-boundary.light{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		background: $grayLighter;
	}

	.btn, .asset-more a{
		@include button($brand-primary);
	}
}

//Generic Portlets Blue
.portlet-boundary.blue{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		background: $brand-secondary;
		color: $text-color;
	}

	a{
		@extend %lightLink;
	}

	h1, h2, h3, h4, h5, h6{
		a{
			@extend %darkAltLink;
		}	
	} 

	.btn, .asset-more a{
		@include button($brand-grayDark);
	}

	blockquote{
		background: #fff;
		color: $text-color;
		border-left: 5px solid shade(#fff, 10%);
	}
}

//Generic Portlets Yellow
.portlet-boundary.yellow{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		background: $brand-tertiary;
	}

	a{
		@extend %lightLink;
	}

	h1, h2, h3, h4, h5, h6{
		a{
			@extend %darkAltLink;
		}	
	} 

	.btn, .asset-more a{
		@include button($brand-grayDark);
	}
}

//Generic Portlets Green
.portlet-boundary.green{
	> .portlet-body .portlet-content .portlet-content-container > .portlet-body,
	> .portlet-body > .portlet-borderless-container > .portlet-body{
		background: $brand-primary;
		color: #fff;
	}

	a{
		@extend %darkAltLink;
	}

	h1, h2, h3, h4, h5, h6{
		a{
			@extend %lightLink;
		}	
	} 

	.btn, .asset-more a{
		@include button($brand-grayDark);
	}

}







//Social media on content
.taglib-social-bookmarks{
	background: $grayLighter;
	@include border-radius($border-radius);
}

.taglib-social-bookmarks li{
	line-height: 1;
}

