.portlet-boundary .theme-box {
    margin: -1.5em;
    min-height: 280px;
    
	a{
		text-decoration: none;
		color: $text-color;
	}

	.content{
		padding: 1em;
	}

	.top-content{
		position: relative;
		overflow: hidden;
	    height: 200px;
	}

	.image{
		width: 100%;
		height: auto;
	}

	.overlay{
		@include addAnimation();
		position: absolute;
		bottom: -999px;
		background: rgba($brand-grayDark, 0.9);
		width: 100%;
		height: 100%;
		color: #fff;
		padding: 4.5em;
		text-align: center;
		font-size: 1.2em;
	}

	a:hover .overlay{
		bottom: 0;
	} 
}

.portlet-boundary.dark .theme-box, 
.portlet-boundary.green .theme-box  {
	a{
		color: #fff;
	}
}