// @mixin breakpoint($point) {
//   @if $point == screen-xs {
//     @media (max-width: $screen-xs) { @content; }
//   }
//   @else if $point == screen-sm {
//     @media (max-width: $screen-sm) { @content; }
//   }
//   @else if $point == screen-md {
//     @media (max-width: $screen-md)  { @content; }
//   }
//   @else if $point == screen-lg {
//     @media (max-width: $screen-lg)  { @content; }
//   }
// }

@mixin fontAwesome($unicode) {
	content: $unicode;
	font-family: FontAwesome;
}
		
@mixin addAnimation{
	@include transition-property(all);
	@include transition-duration(250ms);
}

@mixin button($color: $brand-grayDark){
    @extend %buttons;
    background: $color;

    &:hover{
        background: shade($brand-grayDark, 20%);
    }
}

@mixin link($colorNormal: $brand-primary, $colorHover: $text-color){
    @include addAnimation;
    color: $colorNormal;
    text-decoration: underline;

    &:hover{
         color: $colorHover;
    }
}

%defaultLink{
	@include addAnimation;
    color: $brand-primary;
    text-decoration: underline;

    // &:link, &:visited, &:active{
    // 	color: $brand-primary;
    // }

    &:hover{
    	 color: $text-color;
    }
}

%lightLink{
    @include addAnimation;
    color: #fff;
    text-decoration: underline;

    // &:link, &:visited, &:active {
    //  color: $brand-secondary;
    // }

    &:hover{
        color: $text-color;
    }
}

%darkLink{
	@include addAnimation;
    color: $brand-secondary;
    text-decoration: underline;

    // &:link, &:visited, &:active {
    // 	color: $brand-secondary;
    // }

    &:hover{
		color: $brand-grayLight;
    }
}

%darkAltLink{
    @include addAnimation;
    color: $brand-grayDark;
    text-decoration: underline;

    // &:link, &:visited, &:active {
    //  color: $brand-secondary;
    // }

    &:hover{
        color: #fff;
    }
}

%navLink{
    @include addAnimation;
    color: $text-color;
    display: block;
    padding: 0.3em 0;
    text-decoration: none;    

    // &:link, &:visited, &:active{
    //     color: $text-color;
    // }

    &:hover{
        color: $brand-primary;
    }
}

