* { 
	@include box-sizing(border-box); 
}

body{
	background: $bodyBackground;
	font-family: $sansFontFamily;
	font-size: $baseFontSize;
	color: $text-color;
	line-height: $baseLineHeight;
	-webkit-font-smoothing: antialiased;
}

#content{
	padding: 5em 0;
}

