#footer{
	background: $brand-grayDark;
	color: #fff;

	a{
		@extend %darkLink;
	}
}

#footer input{
	border: none;
    font-family: inherit;
}


#footer .info{
	padding: 2em 0;
}

#footer .info .portlet-journal-content{
	margin: 3em 0;
}

#footer ul, #footer li{
	padding: 0;
	margin: 0;
	list-style: none;
}

#footer .portlet-content{
	padding: 0;
}

#footer .portlet-body{
	overflow: hidden;
}

#footer .footer-info{
	background: $white;
	color: $text-color;
	padding: 0.7em 0;
	font-size: 0.8em;	
	line-height: 1.4;

	img{
	    width: 170px;
	}
}

#footer .newsletter{
	background: tint($brand-grayDark, 3%);
	text-align: center;
    padding: 1em 0 2em;
}

#footer .newsletter form{
    margin-top: 1.5em;
}

#footer .newsletter input{
	width: auto;
	display: inline;
}

#footer .newsletter .btn{
	line-height: 1.9;
    padding: 0.3em 4em;
}

#footer .newsletter h3{
    margin-top: 0.5em;
}

#footer .copyright{
	background: shade($brand-grayDark, 13%);

	p{
		margin: 0;
		padding: 1em;
		text-align: center;
	}
}

#footer .stripe{
	background: url(../images/stripe.png);
	height: 150px;
    background-position: 50%;
}

#footer .social-media  .icon{
	text-decoration: none;
}