#banner{
	position: relative;
	background: $grayLighter;
}

#heading{
	position: relative;
    background: $brand-grayDark;
}

.header-image{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
} 

.header-image img{
	width: 100%;
	height: auto;
	display: block;
}

.site-title{
	@include border-radius(5px);
    position: absolute;
	bottom: -80px;
	left: 10px;
	padding: 0;
    z-index: 10;
 	text-align: center;
}

.site-title .logo img{
	max-width: 110px;
	height: auto;
   	display: inline-block;
}

.site-title .logo{
	text-decoration: none;
	display: block;
}

.site-title .logo-tag{
    margin-top: 3px;
	display: block;
	color: $text-color;
	max-width: 160px;
	font-size: 0.8em;
    font-weight: normal;
    line-height: 1.2;
}

.site-title .site-name, .page-title{
	display: none;
}

.site-tag{
	position: absolute;
	right: 0;
	top: 4em;
	width: 100%;
	color: $text-color;
	@include text-shadow(-1px 1px 1px #fff);
	font-size: 1.4em;
    text-align: right;

    div{
		max-width: 400px;
		display: inline-block;
		padding: 1em 2em;
		text-align: left;
    }
}
