#skip-to-content{
	position: absolute;
	top: 0;
	left: -9999px;
}

.portlet-title-text{
	cursor: default;
}

.signed-in .portlet-title-text{
	cursor: pointer;
}

.dockbar a{
	color: $text-color;

	&:hover{
		color: #000;
	}
}

// .dockbar-user-notifications .dropdown-toggle .user-notifications-count{
// 	margin: 5px 0px;
// 	background-color: #fff;
// 	border: 1px solid shade(#fff, 15%)
// }

// #sign-in{
// 	float: right;
// }

// .aui .dropdown-menu > li > a{
// 	text-decoration: none;
// }

// .modify-pages .delete-tab{
// 	color: #fff;
// 	@include text-shadow(none);
// 	right: -2px;
// 	padding: 5px 0px;
// }


// .portlet-boundary{
// 	.portlet-title{
// 		margin-bottom: 1em;
// 	}

// 	.portlet-content{
// 		padding: 0;
// 	}

// 	.icons-container, .asset-actions{
// 		.lfr-icon-actions{
// 			background: none;
// 			padding: 0;
			
// 			.taglib-text{
// 				color: $text-color;
// 			}

// 			a{
// 				@include text-shadow(none);
// 				color: $text-color;

// 				img{
// 					visibility: visible;
// 				}

// 				&:hover .taglib-text{
// 					text-decoration: none;
// 				}
// 			}
// 		}

// 		a{
// 			@include addAnimation;
// 			text-decoration: none;
// 			display: inline-block;
// 			padding: 0em 0.9em;
// 			background: $grayLighter;
// 			color: $text-color;
// 			font-size: 0.8em;
// 			@include border-radius(20px);
// 			border: 1px solid shade($grayLighter, 5%);

// 			&:hover{
// 				background: shade($grayLighter, 10%);

// 				.taglib-text {
// 					text-decoration: none;
// 				}
// 			}
// 		}
// 	}
// }

// #main-content {
// 	.portlet-boundary{
// 		padding: 2em 0px;
// 	}

// 	.portlet-nested-portlets{
// 		padding: 0;
// 	}
// }

// #main-content li{
// 	line-height: 28px;
// }



// .portlet-borderless-bar {
// 	overflow: hidden;
// 	position: static;
// 	height: auto;
// 	margin-bottom: 1em;
	

// 	.taglib-icon, .lfr-icon-menu a{
// 		position: relative;
// 		top: 4px
// 	}

// 	.portlet-title-default{
// 	    padding: 0.4em 1em 0.4em 3em;
// 	}
// }

// #hrefFm{
// 	display: none;
// }

// .portlet-dropzone{
// 	@include addAnimation;

// 	&:hover{
// 		background: shade($grayLighter, 5%);
// 	}
// }