// @mixin breakpoint($point) {
//   @if $point == screen-xs {
//     @media (max-width: $screen-xs) { @content; }
//   }
//   @else if $point == screen-sm {
//     @media (max-width: $screen-sm) { @content; }
//   }
//   @else if $point == screen-md {
//     @media (max-width: $screen-md)  { @content; }
//   }
//   @else if $point == screen-lg {
//     @media (max-width: $screen-lg)  { @content; }
//   }
// }

@mixin fontAwesome($unicode) {
	content: $unicode;
	font-family: FontAwesome;
}

@mixin addAnimation{
	@include transition-property(all);
	@include transition-duration(250ms);
}

@mixin button($color: $brand-grayDark){
    @extend %buttons;
    background: $color;

    &:hover{
        background: shade($brand-grayDark, 20%);
    }
}

@mixin link($colorNormal: $brand-primary, $colorHover: $text-color){
    @include addAnimation;
    color: $colorNormal;
    text-decoration: underline;

    &:hover{
         color: $colorHover;
    }
}
